<div class="container hidden-phone">
	<div class="row">
		<div class="span12">
			<center style="margin:0px; margin-left:-2px;">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-5889768435415047";
				/* IT-SVAR_footer */
				google_ad_slot = "6195506229";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</center>
		</div>
	</div>
</div>
